*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  margin: 0;
  background-color: #8da3a5;
  margin-bottom: 3%;

}
nav{
  background: #425F57;
  height: 80px;
  width: 100%;
  margin: 0;
  position: fixed;
}

label.logo{
  color: white;
  font-size: 20px;
  line-height: 80px;
  /* padding: 0 10px; */
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 10px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 13px;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active, a:hover{
  background: darkslateblue;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
  color: white;
}
@media screen and (max-width: 900px){
  label.logo{
   font-size: 30px;
   padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 900px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    float: left;
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;

  }
  a:hover, a.active{
    background: none;
    color: darkslateblue;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background-color: url(burger-bar.png) no repeat;
  background-size: cover;
  height: calc(100vh-80px);
}
p{
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
  margin-top: 1%;
  
}
.italic-text{
  font-style: italic ;
  color:darkslateblue;
}
h1{
 color:darkslateblue;
 font-family: 'Poppins', sans-serif;
 margin-left: 5%;
 margin-top: 10%;
}

h2{
  color:darkslateblue;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
  margin-top: 3%;
}

h3{
color:darkslateblue;
font-family: 'Poppins', sans-serif;
 margin-left: 5%;
 margin-top: 2%;
}

h4{
color:darkslateblue;
font-family: 'Poppins', sans-serif;
margin-left: 5%;
margin-top: 3%;
}
img[alt="there were an image"]{
  border-radius: 25%;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: 5%;
}
img:hover[alt="there were an image"]{
  width: 250px;
  height: 250px;
}
.container {
  display: flex;
  align-items:center;
  justify-content: flex-start;
 
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
ul{
  margin-left: 5%;
}
table{
  border: 3px solid;
  margin-left: 5%;
}
th{
  border: 3px solid;
  font-family: 'Poppins', sans-serif;
}
tr{
  border: 3px solid;
  font-family: 'Poppins', sans-serif;
}
table {
  width: 50%;
  font-family: 'Poppins', sans-serif;
}
table {
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}
table {
  border: 1px solid;
  font-family: 'Poppins', sans-serif;
}
tr:hover {
  background-color: #645CAA;
}
th {
  background-color: #645CAA;
  color: black;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style-type: circle;
  font-family: 'Poppins', sans-serif;
}

ol {
  list-style-type: upper-roman;
  font-family: 'Poppins', sans-serif;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid  indigo;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
}
textarea[name=message] {
  border: 2px solid indigo;
  border-radius: 4px;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
   /* resize: none; */
}

.btn {
  border: 2px solid indigo;
  background-color:  whitesmoke;
  color: indigo ;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
}
.send:hover {
  background-color:indigo ;
  color: black;
  margin-left: 5%;
}
label{
  margin-left: 5%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    margin: 0;
    background-color: #8da3a5;
    margin-bottom: 3%;

  }
  nav{
    background: #425F57;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
  }
  
  label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 10px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 13px;
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active, a:hover{
    background: darkslateblue;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
    color: white;
  }
  @media screen and (max-width: 900px){
    label.logo{
     font-size: 30px;
     padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 900px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      float: left;
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;

    }
    a:hover, a.active{
      background: none;
      color: darkslateblue;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background-color: url(burger-bar.png) no repeat;
    background-size: cover;
    height: calc(100vh-80px);
  }
  p{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-top: 1%;
    
}
.italic-text{
    font-style: italic ;
    color:darkslateblue;
}
h1{
   color:darkslateblue;
   font-family: 'Poppins', sans-serif;
   margin-left: 5%;
   margin-top: 10%;
}

h2{
    color:darkslateblue;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-top: 3%;
}

h3{
  color:darkslateblue;
  font-family: 'Poppins', sans-serif;
   margin-left: 5%;
   margin-top: 2%;
}

h4{
  color:darkslateblue;
  font-family: 'Poppins', sans-serif;
  margin-left: 5%;
  margin-top: 3%;
}
img[alt="there were an image"]{
    border-radius: 25%;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 5%;
  }
  img:hover[alt="there were an image"]{
    width: 250px;
    height: 250px;
  }
  .container {
    display: flex;
    align-items:center;
    justify-content: flex-start;
   
  }
  .text{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  ul{
    margin-left: 5%;
  }
  table{
    border: 3px solid;
    margin-left: 5%;
  }
  th{
    border: 3px solid;
    font-family: 'Poppins', sans-serif;
  }
  tr{
    border: 3px solid;
    font-family: 'Poppins', sans-serif;
  }
  table {
    width: 50%;
    font-family: 'Poppins', sans-serif;
  }
  table {
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
  }
  table {
    border: 1px solid;
    font-family: 'Poppins', sans-serif;
  }
  tr:hover {
    background-color: #645CAA;
  }
  th {
    background-color: #645CAA;
    color: black;
    font-family: 'Poppins', sans-serif;
  }
  
  ul{
    list-style-type: circle;
    font-family: 'Poppins', sans-serif;
  }
  
  ol {
    list-style-type: upper-roman;
    font-family: 'Poppins', sans-serif;
  }
  input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid  indigo;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
  }
  textarea[name=message] {
    border: 2px solid indigo;
    border-radius: 4px;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
     /* resize: none; */
  }

  .btn {
    border: 2px solid indigo;
    background-color:  whitesmoke;
    color: indigo ;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
  }
  .send:hover {
    background-color:indigo ;
    color: black;
    margin-left: 5%;
  }
  label{
    margin-left: 5%;
  }
  
